@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
}

body {
  background-color: #f7fafc;
  padding: 1.5rem 2rem;
}

/* NAV */
nav,
.nav_info {
  display: flex;
  align-items: center;
}

nav {
  max-width: 1376px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.nav_name {
  border-left: 2px solid #000;
  font-size: 1.125rem;
  padding: 0 10px;
}

.nav_logo {
  margin-right: 10px;
  width: 69px;
}

/* LIST CONTAINER  */

.list_container {
  width: 100%;
  max-width: 1376px;
  margin: 0 auto;
  background-color: #edf2f7;

  border-radius: 6px;
  border: 1px solid #e2e8f0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list_container p {
  color: #2d3748;

  font-size: 14px;
  font-weight: 400;

  margin: 0.5rem 0;
}

.list_container button {
  background-color: #3182ce;
  color: #fff;

  font-size: 18px;
  font-weight: 600;

  border: none;
  border-radius: 4px;

  width: 135px;
  height: 48px;

  cursor: pointer;
}

.list_head {
  display: flex;
  justify-content: space-between;
}

.list_tabs {
  background-color: #e2e8f0;
  width: 100%;
  max-width: 1328px;
  border-radius: 8px;
  margin-top: 1rem;
}

.tabs_head {
  display: flex;
  align-items: stretch;
}

.tabs_toggle {
  border-bottom: 1px solid #e2e8f0;
  background-color: #fff;
  color: #000;

  display: flex;
  align-items: center;
  height: 44px;
  padding: 10px 20px;

  font-weight: 400;
  cursor: pointer;
}

.tabs_toggle.is_active {
  color: #3182ce;
  border-bottom: 2px solid #3182ce;
}

/* Arredondando botões PEDIDOS e MAIS VENDIDOS */
.tabs_head :nth-child(1) {
  border-top-left-radius: 8px;
}
.tabs_head :nth-child(2) {
  border-top-right-radius: 8px;
}

.tabs_body {
  padding: 16px;
  background-color: #fff;
}
.tabs_content {
  display: none;
}
.tabs_content.is_active {
  min-height: 169px;
  display: block;
}

/* Tabela */

.table {
  max-width: 1296px;
  width: 100%;
  border: 1px solid #ffffff;
  border-collapse: collapse;
  padding: 5px;
}

.table th {
  font-size: 14px;
  color: #718096;
  border-bottom: 1px solid #edf2f7;
  padding: 5px;
  background: #ffffff;
  text-align: end;
}
.table td {
  text-align: end;
}
.table th:nth-child(1),
.table th:nth-child(2) {
  text-align: start;
}
.table th:nth-child(7) {
  text-align: center;
  width: 170px;
}

.table td {
  border: 1px solid #ffffff;
  padding: 5px;
}
.table tr .aproved svg,
.table tr .cancel svg {
  margin-right: 8px;
}
.table td:nth-child(1),
.table th:nth-child(1) {
  width: 140px;
  text-align: start;
}
.table td:nth-child(2),
.table th:nth-child(2) {
  width: 218px;
  text-align: start;
}
.table tr .cancel {
  color: #e53e3e;
}
.table tr .aproved {
  color: #38a169;
}

.col_edit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_edit {
  width: 24px;
  height: 24px;
  background-color: #3182ce;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
