@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
}

body {
  background-color: #f7fafc;
  padding: 1.5rem 2rem;
}

/* NAV */
nav,
.nav_info {
  display: flex;
  align-items: center;
}

nav {
  max-width: 1376px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.nav_name {
  border-left: 2px solid #000;
  font-size: 1.125rem;
  padding: 0 10px;
}

.nav_logo {
  margin-right: 10px;
  width: 69px;
}

/* LIST CONTAINER  */

.list_container {
  width: 100%;
  max-width: 1376px;
  margin: 0 auto;
  background-color: #edf2f7;

  border-radius: 6px;
  border: 1px solid #e2e8f0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list_container p {
  color: #2d3748;

  font-size: 14px;
  font-weight: 400;

  margin: 0.5rem 0;
}

.list_container button {
  background-color: #3182ce;
  color: #fff;

  font-size: 18px;
  font-weight: 600;

  border: none;
  border-radius: 4px;

  width: 135px;
  height: 48px;

  cursor: pointer;
}

.list_head {
  display: flex;
  justify-content: space-between;
}
