@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap');
:root {
  /* Colors */

  --black: #000;
  --white: #fff;
  --gray-50: #f7fafc;
  --gray-100: #edf2f7;
  --gray-200: #e2e8f0;
  --gray-500: #718096;
  --gray-700: #2d3748;
  --red-500: #e53e3e;
  --blue-100: #bee3f8;
  --blue-500: #3182ce;
  --blue-900: #1a365d;
  --green-500: #38a169;
  --yellow-100: #fefcbf;
  --yellow-900: #5f370e;
  --orange-100: #feebc8;
  --orange-900: #652b19;

  /* Font */

  --2xs: 0.625rem;
  --xs: 0.75rem;
  --sm: 0.875rem;
  --md: 1rem;
  --lg: 1.125rem;
  --xl: 1.25rem;

  /* Spacings */
  --1: 0.25rem;
  --2: 0.5rem;
  --3: 0.75rem;
  --4: 1rem;
  --5: 1.25rem;
  --6: 1.5rem;
  --8: 2rem;

  /* Shadows and Radius */

  --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06) ”;
  --sm-radius: 0.25rem;
  --md-radius: 0.375rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
}

body {
  overflow-x: hidden;
  height: 100%;
  background-color: var(--gray-50);
  padding: 1.5rem 2rem;
}

/* NAV */
nav,
.nav_info {
  display: flex;
  align-items: center;
}

nav {
  max-width: 95%;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.nav_name {
  border-left: 2px solid var(--black);
  font-size: 1.125rem;
  padding: 0 10px;
}

.nav_logo {
  margin-right: 10px;
  width: 69px;
}

/* LIST CONTAINER  */

.list_container {
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  background-color: var(--gray-100);

  border-radius: 6px;
  border: 1px solid var(--gray-200);
  box-shadow: var(--shadow);
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list_container p {
  color: var(--gray-700);

  font-size: 14px;
  font-weight: 400;

  margin: 0.5rem 0;
}

.btn_consultar {
  background-color: var(--blue-500);
  color: var(--white);

  font-size: 18px;
  font-weight: 600;

  border: none;
  border-radius: 4px;

  width: 135px;
  height: 48px;

  cursor: pointer;
}
.disabled {
  cursor: none;
  opacity: 0.45;
}
.list_head_tab {
  display: none;
}
.list_head_tab.is_active {
  display: block;
}
.list_head {
  display: flex;
  justify-content: space-between;
}

.list_tabs {
  background-color: var(--gray-200);
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  margin-top: 1rem;
}

.tabs_head {
  display: flex;
  align-items: stretch;
}

.tabs_toggle {
  border-bottom: 1px solid var(--gray-200);
  background-color: var(--white);
  color: #000;

  display: flex;
  align-items: center;
  height: 44px;
  padding: 10px 20px;

  font-weight: 400;
  cursor: pointer;
}

.tabs_toggle.is_active {
  color: var(--blue-500);
  border-bottom: 2px solid var(--blue-500);
}

/* Arredondando botões PEDIDOS e MAIS VENDIDOS */

.tabs_head :nth-child(1) {
  border-top-left-radius: 8px;
}
.tabs_head :nth-child(2) {
  border-top-right-radius: 8px;
}

.tabs_body {
  padding: 16px;
  min-height: 200px;
  background-color: var(--white);
}

.tabs_content.is_active {
  min-height: 169px;
  display: block;
}

/* Tabela */

.table {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  border: 1px solid var(--white);
  border-collapse: collapse;
  padding: 5px;
}

.table th {
  font-size: 14px;
  color: var(--gray-500);
  border-bottom: 1px solid var(--gray-200);
  padding: 5px;
  background: var(--white);
  text-align: end;
}
.table td {
  text-align: end;
}
.table th:nth-child(1),
.table th:nth-child(2) {
  text-align: start;
}
.table th:nth-child(7) {
  text-align: center;
  width: 170px;
}

.table td {
  border: 1px solid var(--white);
  padding: 5px;
}
.table tr .aproved svg,
.table tr .cancel svg {
  margin-right: 8px;
}
.table td:nth-child(1),
.table th:nth-child(1) {
  width: 140px;
  text-align: start;
}
.table td:nth-child(2),
.table th:nth-child(2) {
  width: 218px;
  text-align: start;
}
.table tr .cancel {
  color: var(--red-500);
}
.table tr .aproved {
  color: var(--green-500);
}
.dont_show {
  display: none;
}
/* Load Style */

.load_text {
  font-size: 10px;
  color: var(--blue-500);
}
.load_gif {
  width: 68px;
}
.load_div,
.load_gif,
.load_text {
  display: none;
}

.load_div.is_active,
.load_text.is_active,
.load_gif.is_active {
  display: block;
}
.load_div.is_active {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Container Mais Vendidos */

.top_sells_container {
  display: none;
  gap: 10px;
}
.top_sells_container.is_active {
  display: flex;
}

.sells_head_tab {
  display: none;
}

.sells_head_tab.is_active {
  display: block;
}

.podium_place {
  text-align: center;
  border: none;
  width: 156px;
  height: 145px;
  min-height: 114px;
  padding: 4px 8px;
  border-radius: var(--sm-radius);
}
.podium_place h2,
.podium_place h4,
.podium_place p {
  margin-bottom: 4px;
}
.podium_place p:last-child {
  margin-bottom: 0;
}

.podium_place p,
.podium_place span {
  font-size: 12px;
}

.podium_place span {
  font-weight: bold;
}

/* Lugares */

.place-1 {
  background-color: var(--yellow-100);
  color: var(--yellow-900);
}
.place-2 {
  background-color: var(--blue-100);
  color: var(--blue-900);
}
.place-3 {
  background-color: var(--orange-100);
  color: var(--orange-900);
}
.place-4,
.place-5 {
  background-color: var(--gray-100);
  color: var(--black);
}

/* Container de Edição */

.edit_info_container {
  display: none;
}
.id_input {
  display: none;
}
.edit_info_container.is_active {
  display: flex;
  align-items: center;
}
.edit_info_container div,
.edit_info_container form {
  display: flex;
  width: 50%;
  height: 260px;
  flex-direction: column;
  padding: 8px 0 0;
}
.edit_info_container h2 {
  margin-bottom: 22px;
  font-size: 18px;
}
.edit_info_container span {
  /* margin-bottom: 10px; */
  color: var(--gray-700);
}
.edit_info_container p.info_endereco {
  width: fit-content;
}
.info_endereco {
  width: fit-content;
}
.list_container .edit_info_container p {
  margin: 0 0 0 10px;
  color: var(--black);
  font-size: 16px;
}
.edit_info_container div div {
  display: flex;
  width: fit-content;
  flex-direction: row;
  align-items: center;
}
.tabs_content {
  display: none;
}
form input {
  padding: 12px;
  width: 368px;
  outline: none;
  border: none;
  border: 1px solid var(--gray-200);
  margin-bottom: 16px;
  font-weight: 500;
}
form input::placeholder {
  color: var(--gray-200);
}

form label {
  font-size: 14px;
  color: var(--gray-700);
}
.input_wrong {
  color: var(--red-500);
  border-color: var(--red-500);
  border: 2px solid;
}
.input_wrong::placeholder {
  color: var(--red-500);
}

/* Edit Container */
.container_edit {
  display: flex;
  justify-content: space-between;
}
.edit_container,
.edit_btns {
  display: none;
}
.edit_container.is_active {
  display: block;
}

.edit_btns.is_active {
  display: flex;
}
.edit_container h1 {
  font-size: 18px;
}

.col_edit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_edit {
  width: 24px;
  height: 24px;
  background-color: var(--blue-500);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
/* Botões */

.btn {
  /* width: 205px; */
  height: 48px;
  padding: 10.5px 24px;

  border: none;
  border-radius: var(--sm-radius);
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  min-width: 205px;
}

.btn.confirm {
  background-color: var(--green-500);

  color: var(--white);
}
.btn.cancel {
  border: 1px solid var(--red-500);
  background-color: none;
  margin: 0 15px;
  color: var(--red-500);
}
.btn.editar {
  color: var(--white);
  background-color: var(--blue-500);
}
/* Notificação */

.notify {
  background-color: var(--green-500);
  color: var(--white);

  width: 442px;
  height: 82px;
  padding: var(--2);

  position: relative;

  display: none;
  align-items: center;
  justify-content: center;
}
.notifyCancel {
  background-color: var(--red-500);
}
.notify.is_active {
  position: absolute;
  bottom: 50px;
  right: 50px;
  display: flex;
  transition: all;
  -webkit-animation: slide-left 2.5s ease-in-out;
  animation: slide-left 2.5s ease-in-out;
}
.notify p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}
.notify span {
  font-weight: 500;
}

.svg_close {
  position: absolute;
  top: 8px;
  right: 15px;
}

.svg_ok {
  position: absolute;
  top: 18px;
  left: 18px;
}

/* Animation Table */

.table td {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* Animation Notificação */

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(450px);
    transform: translateX(450px);
  }
  25% {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
  }
  50% {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
  }
  75% {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
  }
  100% {
    -webkit-transform: translateX(450px);
    transform: translateX(450px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(450px);
    transform: translateX(450px);
  }
  25% {
    -webkit-transform: translateX(-18px);
    transform: translateX(-18px);
  }
  50% {
    -webkit-transform: translateX(-18px);
    transform: translateX(-18px);
  }
  75% {
    -webkit-transform: translateX(-18px);
    transform: translateX(-18px);
  }
  100% {
    -webkit-transform: translateX(550px);
    transform: translateX(550px);
  }
}

/* Animação mais vendidos */

.podium_place {
  -webkit-animation: scale-in-hor-left 400ms
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-hor-left 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}

/* Animação Titulos das Paginas */

.list_head_tab,
.sells_head_tab,
.edit_container,
.edit_btns {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-left 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
